<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="de.minimalme.spotify_sdk">
    <application>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
    <queries>
        <package android:name="com.spotify.music" />
    </queries>
</manifest>
